{
  "jsc": {
    "baseUrl": "src",
    "parser": {
      "decorators": true,
      "syntax": "typescript",
      "tsx": true,
    },
    "paths": {
      "@api/*": ["api/*"],
      "@elements/*": ["elements/*"],
      "@pages/*": ["pages/*"],
      "@pixel/*": ["pixel/*"],
      "@standard/*": ["standard/*"]
    },
    "target": "es2022",
    "transform": {
      "react": {
        "pragma": "h",
        "pragmaFrag": "Fragment"
      }
    }
  }
}
